/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Poppins", sans-serif;
  color: #222;
  background-color: #f7f7f7;
  line-height: 1.6;
}

/* Navbar */
header {
  background-color: #111;
  color: #fff;
  border-radius: 20px;
  margin: 20px;
  position: sticky;
  top: 0; /* Stick to the top */
  z-index: 1000; /* Ensure it stays above every other content in the page */
}

.navbar {
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.logo {
  top: 0;
  left: 0;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #00b4d8;
}

/* Main Sections */
main {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 0 2rem;
}

section {
  margin-bottom: 4rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #111;
}

p {
  font-size: 1rem;
  color: #333;
}

/* Footer */
footer {
  text-align: center;
  padding: 2rem 0;
  background-color: #111;
  color: #fff;
  font-size: 0.9rem;
}

/* Responsive Design (Still not fully implemented */

@media (max-width: 1800px) {
  .navbar {
    max-width: 1400px;
  }

  .nav-links {
    gap: 30px;
  }
}

@media (max-width: 1500px) {
  .navbar {
    max-width: 700px;
  }

  .nav-links {
    gap: 30px;
  }
}

/* Responsive for mobile screens */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 20px;
    margin: 20px;
  }

  .navbar {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 0.5rem;
  }
}
